openapi: 3.1.0
info:
  title: 墨墨开放 API
  version: v1
  description: >+
    # 说明

    请先到墨墨背单词 app 上申请访问开放 API 的 token。然后在请求的 headers 中添加 `Authorization: Bearer
    xxx`, curl 示例如下：


    ```bash

    curl --request GET \
      --url https://open.maimemo.com/open/api/v1/phrases \
      --header 'Accept: application/json' \
      --header 'Authorization: Bearer xxx'
    ```


    ## 请求频控

    - 10 秒 20 次

    - 60 秒 40 次

    - 5 小时 2000 次

    ## 错误码

    ### 释义

    | 状态码 | 错误码 | 说明 |

    | ----- | ----- | --- |



    ### 助记

    | 状态码 | 错误码 | 说明 |

    | ----- | ----- | --- |



    ### 云词本

    | 状态码 | 错误码 | 说明 |

    | ----- | ----- | --- |



    ### 例句

    | 状态码 | 错误码 | 说明 |

    | ----- | ----- | --- |



    ### 学习数据（公测）

    | 状态码 | 错误码 | 说明 |

    | ----- | ----- | --- |



    ### 令牌

    | 状态码 | 错误码 | 说明 |

    | ----- | ----- | --- |



    ### 单词

    | 状态码 | 错误码 | 说明 |

    | ----- | ----- | --- |

paths:
  /api/v1/interpretations:
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    get:
      tags:
        - 释义
      operationId: >-
        maimemo.openapi.interpretation.v1.InterpretationService.ListInterpretations
      summary: 获取释义
      requestBody: {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  interpretations:
                    description: '释义列表<br><br>引用自：[Interpretation](/schemas/Interpretation)'
                    type: array
                    items:
                      $ref: '#/components/schemas/Interpretation'
                required:
                  - interpretations
      parameters:
        - name: voc_id
          in: query
          deprecated: false
          required: true
          description: 单词 id
          schema:
            description: 单词 id
            type: string
            example: 5a7BFf4F63612e5AD9fdebB7a50D3881
      security:
        - user:
            - ''
      description: 获取单词下自己创建的释义
    post:
      tags:
        - 释义
      operationId: >-
        maimemo.openapi.interpretation.v1.InterpretationService.CreateInterpretation
      summary: 创建释义
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 暂无文档
              properties:
                interpretation:
                  description: ''
                  type: object
                  properties:
                    voc_id:
                      description: 单词 id
                      type: string
                      example: 5a7BFf4F63612e5AD9fdebB7a50D3881
                    interpretation:
                      description: 释义
                      type: string
                      example: n. 苹果
                    tags:
                      description: 标签
                      type: array
                      example:
                        - 考研
                      items:
                        type: string
                    status:
                      description: >-
                        状态

                        @Example
                        PUBLISHED<br><br>引用自：[InterpretationStatus](/schemas/InterpretationStatus)
                      type: object
                      $ref: '#/components/schemas/InterpretationStatus'
                  required:
                    - voc_id
                    - interpretation
                    - tags
                    - status
              required:
                - interpretation
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  interpretation:
                    description: '释义<br><br>引用自：[Interpretation](/schemas/Interpretation)'
                    type: object
                    $ref: '#/components/schemas/Interpretation'
                required:
                  - interpretation
      parameters: []
      security:
        - user:
            - ''
  '/api/v1/interpretations/{id}':
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    post:
      tags:
        - 释义
      operationId: >-
        maimemo.openapi.interpretation.v1.InterpretationService.UpdateInterpretation
      summary: 更新释义
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 暂无文档
              properties:
                interpretation:
                  description: ''
                  type: object
                  properties:
                    interpretation:
                      description: 释义
                      type: string
                      example: n. 苹果
                    tags:
                      description: 标签
                      type: array
                      example:
                        - 考研
                      items:
                        type: string
                    status:
                      description: >-
                        状态

                        @Example
                        PUBLISHED<br><br>引用自：[InterpretationStatus](/schemas/InterpretationStatus)
                      type: object
                      $ref: '#/components/schemas/InterpretationStatus'
                  required:
                    - interpretation
                    - tags
                    - status
              required:
                - interpretation
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  interpretation:
                    description: '释义<br><br>引用自：[Interpretation](/schemas/Interpretation)'
                    type: object
                    $ref: '#/components/schemas/Interpretation'
                required:
                  - interpretation
      parameters:
        - name: id
          in: path
          deprecated: false
          required: true
          description: 释义 id
          schema:
            description: 释义 id
            type: string
            example: 5a7BFf4F63612e5AD9fdebB7a50D3881
      security:
        - user:
            - ''
    delete:
      tags:
        - 释义
      operationId: >-
        maimemo.openapi.interpretation.v1.InterpretationService.DeleteInterpretation
      summary: 删除释义
      requestBody: {}
      responses: {}
      parameters:
        - name: id
          in: path
          deprecated: false
          required: true
          description: 释义 id
          schema:
            description: 释义 id
            type: string
            example: 5a7BFf4F63612e5AD9fdebB7a50D3881
      security:
        - user:
            - ''
  /api/v1/notes:
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    get:
      tags:
        - 助记
      operationId: maimemo.openapi.note.v1.NoteService.ListNotes
      summary: 获取助记
      requestBody: {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  notes:
                    description: '助记列表<br><br>引用自：[Note](/schemas/Note)'
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
                required:
                  - notes
      parameters:
        - name: voc_id
          in: query
          deprecated: false
          required: true
          description: 单词 id
          schema:
            description: 单词 id
            type: string
            example: 5a7BFf4F63612e5AD9fdebB7a50D3881
      security:
        - user:
            - ''
      description: 获取单词下自己创建的助记
    post:
      tags:
        - 助记
      operationId: maimemo.openapi.note.v1.NoteService.CreateNote
      summary: 创建助记
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 暂无文档
              properties:
                note:
                  description: ''
                  type: object
                  properties:
                    voc_id:
                      description: 单词 id
                      type: string
                      example: 5a7BFf4F63612e5AD9fdebB7a50D3881
                    note_type:
                      description: 类型
                      type: string
                      example: 谐音.
                    note:
                      description: 助记
                      type: string
                      example: apple
                  required:
                    - voc_id
                    - note_type
                    - note
              required:
                - note
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  note:
                    description: '助记<br><br>引用自：[Note](/schemas/Note)'
                    type: object
                    $ref: '#/components/schemas/Note'
                required:
                  - note
      parameters: []
      security:
        - user:
            - ''
  '/api/v1/notes/{id}':
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    post:
      tags:
        - 助记
      operationId: maimemo.openapi.note.v1.NoteService.UpdateNote
      summary: 更新助记
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 暂无文档
              properties:
                note:
                  description: ''
                  type: object
                  properties:
                    note_type:
                      description: 类型
                      type: string
                      example: 谐音.
                    note:
                      description: 助记
                      type: string
                      example: apple
                  required:
                    - note_type
                    - note
              required:
                - note
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  note:
                    description: '助记<br><br>引用自：[Note](/schemas/Note)'
                    type: object
                    $ref: '#/components/schemas/Note'
                required:
                  - note
      parameters:
        - name: id
          in: path
          deprecated: false
          required: true
          description: 助记 id
          schema:
            description: 助记 id
            type: string
            example: 5a7BFf4F63612e5AD9fdebB7a50D3881
      security:
        - user:
            - ''
    delete:
      tags:
        - 助记
      operationId: maimemo.openapi.note.v1.NoteService.DeleteNote
      summary: 删除助记
      requestBody: {}
      responses: {}
      parameters:
        - name: id
          in: path
          deprecated: false
          required: true
          description: 助记 id
          schema:
            description: 助记 id
            type: string
            example: 5a7BFf4F63612e5AD9fdebB7a50D3881
      security:
        - user:
            - ''
  /api/v1/notepads:
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    get:
      tags:
        - 云词本
      operationId: maimemo.openapi.notepad.v1.NotepadService.ListNotepads
      summary: 查询云词本
      requestBody: {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  notepads:
                    description: '云词本列表<br><br>引用自：[BriefNotepad](/schemas/BriefNotepad)'
                    type: array
                    items:
                      $ref: '#/components/schemas/BriefNotepad'
                required:
                  - notepads
      parameters:
        - name: limit
          in: query
          deprecated: false
          required: true
          description: 查询数量
          schema:
            description: 查询数量
            type: integer
            example: 10
        - name: offset
          in: query
          deprecated: false
          required: true
          description: 查询跳过
          schema:
            description: 查询跳过
            type: integer
            example: 0
        - name: ids
          in: query
          deprecated: false
          required: false
          description: 词本 id 列表
          schema:
            description: 词本 id 列表
            type: array
            example:
              - 5a7BFf4F63612e5AD9fdebB7a50D3881
            items:
              type: string
      security:
        - user:
            - ''
    post:
      tags:
        - 云词本
      operationId: maimemo.openapi.notepad.v1.NotepadService.CreateNotepad
      summary: 创建云词本
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 暂无文档
              properties:
                notepad:
                  description: 创建数据
                  type: object
                  properties:
                    status:
                      description: >-
                        状态

                        @Example
                        PUBLISHED<br><br>引用自：[NotepadStatus](/schemas/NotepadStatus)
                      type: object
                      $ref: '#/components/schemas/NotepadStatus'
                    content:
                      description: 内容
                      type: string
                      example: apple
                    title:
                      description: 标题
                      type: string
                      example: 常用词汇
                    brief:
                      description: 简介
                      type: string
                      example: 常用
                    tags:
                      description: 标签
                      type: array
                      example:
                        - 考研
                      items:
                        type: string
                  required:
                    - status
                    - content
                    - title
                    - brief
                    - tags
              required:
                - notepad
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  notepad:
                    description: '云词本<br><br>引用自：[Notepad](/schemas/Notepad)'
                    type: object
                    $ref: '#/components/schemas/Notepad'
                required:
                  - notepad
      parameters: []
      security:
        - user:
            - ''
  '/api/v1/notepads/{id}':
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    get:
      tags:
        - 云词本
      operationId: maimemo.openapi.notepad.v1.NotepadService.GetNotepad
      summary: 获取云词本
      requestBody: {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  notepad:
                    description: '云词本<br><br>引用自：[Notepad](/schemas/Notepad)'
                    type: object
                    $ref: '#/components/schemas/Notepad'
                required:
                  - notepad
      parameters:
        - name: id
          in: path
          deprecated: false
          required: true
          description: 云词本 id
          schema:
            description: 云词本 id
            type: string
            example: 5a7BFf4F63612e5AD9fdebB7a50D3881
      security:
        - user:
            - ''
    post:
      tags:
        - 云词本
      operationId: maimemo.openapi.notepad.v1.NotepadService.UpdateNotepad
      summary: 更新云词本
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 暂无文档
              properties:
                notepad:
                  description: 更新数据
                  type: object
                  properties:
                    status:
                      description: >-
                        状态

                        @Example
                        PUBLISHED<br><br>引用自：[NotepadStatus](/schemas/NotepadStatus)
                      type: object
                      $ref: '#/components/schemas/NotepadStatus'
                    content:
                      description: 内容
                      type: string
                      example: apple
                    title:
                      description: 标题
                      type: string
                      example: 常用词汇
                    brief:
                      description: 简介
                      type: string
                      example: 常用
                    tags:
                      description: 标签
                      type: array
                      example:
                        - 考研
                      items:
                        type: string
                  required:
                    - status
                    - content
                    - title
                    - brief
                    - tags
              required:
                - notepad
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  notepad:
                    description: '云词本<br><br>引用自：[Notepad](/schemas/Notepad)'
                    type: object
                    $ref: '#/components/schemas/Notepad'
                required:
                  - notepad
      parameters:
        - name: id
          in: path
          deprecated: false
          required: true
          description: 云词本 id
          schema:
            description: 云词本 id
            type: string
            example: 5a7BFf4F63612e5AD9fdebB7a50D3881
      security:
        - user:
            - ''
    delete:
      tags:
        - 云词本
      operationId: maimemo.openapi.notepad.v1.NotepadService.DeleteNotepad
      summary: 删除云词本
      requestBody: {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  notepad:
                    description: '云词本<br><br>引用自：[Notepad](/schemas/Notepad)'
                    type: object
                    $ref: '#/components/schemas/Notepad'
                required:
                  - notepad
      parameters:
        - name: id
          in: path
          deprecated: false
          required: true
          description: 云词本 id
          schema:
            description: 云词本 id
            type: string
            example: 5a7BFf4F63612e5AD9fdebB7a50D3881
      security:
        - user:
            - ''
  /api/v1/phrases:
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    get:
      tags:
        - 例句
      operationId: maimemo.openapi.phrase.v1.PhraseService.ListPhrases
      summary: 获取例句
      requestBody: {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  phrases:
                    description: '例句列表<br><br>引用自：[Phrase](/schemas/Phrase)'
                    type: array
                    items:
                      $ref: '#/components/schemas/Phrase'
                required:
                  - phrases
      parameters:
        - name: voc_id
          in: query
          deprecated: false
          required: true
          description: 单词 id
          schema:
            description: 单词 id
            type: string
            example: 5a7BFf4F63612e5AD9fdebB7a50D3881
      security:
        - user:
            - ''
      description: 获取单词下自己创建的例句
    post:
      tags:
        - 例句
      operationId: maimemo.openapi.phrase.v1.PhraseService.CreatePhrase
      summary: 创建例句
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 暂无文档
              properties:
                phrase:
                  description: ''
                  type: object
                  properties:
                    voc_id:
                      description: 单词 id
                      type: string
                      example: 5a7BFf4F63612e5AD9fdebB7a50D3881
                    phrase:
                      description: 例句
                      type: string
                      example: This is an apple.
                    interpretation:
                      description: 翻译
                      type: string
                      example: 这是一个苹果。
                    tags:
                      description: 标签
                      type: array
                      example:
                        - 考研
                      items:
                        type: string
                    origin:
                      description: 来源
                      type: string
                      example: 考研
                  required:
                    - voc_id
                    - phrase
                    - interpretation
                    - tags
                    - origin
              required:
                - phrase
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  phrase:
                    description: '例句<br><br>引用自：[Phrase](/schemas/Phrase)'
                    type: object
                    $ref: '#/components/schemas/Phrase'
                required:
                  - phrase
      parameters: []
      security:
        - user:
            - ''
  '/api/v1/phrases/{id}':
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    post:
      tags:
        - 例句
      operationId: maimemo.openapi.phrase.v1.PhraseService.UpdatePhrase
      summary: 更新例句
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 暂无文档
              properties:
                phrase:
                  description: ''
                  type: object
                  properties:
                    phrase:
                      description: 例句
                      type: string
                      example: This is an apple.
                    interpretation:
                      description: 翻译
                      type: string
                      example: 这是一个苹果。
                    tags:
                      description: 标签
                      type: array
                      example:
                        - 考研
                      items:
                        type: string
                    origin:
                      description: 来源
                      type: string
                      example: 考研
                  required:
                    - phrase
                    - interpretation
                    - tags
                    - origin
              required:
                - phrase
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  phrase:
                    description: '例句<br><br>引用自：[Phrase](/schemas/Phrase)'
                    type: object
                    $ref: '#/components/schemas/Phrase'
                required:
                  - phrase
      parameters:
        - name: id
          in: path
          deprecated: false
          required: true
          description: 例句 id
          schema:
            description: 例句 id
            type: string
            example: 5a7BFf4F63612e5AD9fdebB7a50D3881
      security:
        - user:
            - ''
    delete:
      tags:
        - 例句
      operationId: maimemo.openapi.phrase.v1.PhraseService.DeletePhrase
      summary: 删除例句
      requestBody: {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  phrase:
                    description: '例句<br><br>引用自：[Phrase](/schemas/Phrase)'
                    type: object
                    $ref: '#/components/schemas/Phrase'
                required:
                  - phrase
      parameters:
        - name: id
          in: path
          deprecated: false
          required: true
          description: 例句 id
          schema:
            description: 例句 id
            type: string
            example: 5a7BFf4F63612e5AD9fdebB7a50D3881
      security:
        - user:
            - ''
  /api/v1/study/get_study_progress:
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    post:
      tags:
        - 学习数据（公测）
      operationId: maimemo.openapi.study.v1.StudyService.GetStudyProgress
      summary: 获取今日学习进度（公测）
      requestBody: {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  progress:
                    description: '学习进度及时长<br><br>引用自：[StudyProgress](/schemas/StudyProgress)'
                    type: object
                    $ref: '#/components/schemas/StudyProgress'
                required:
                  - progress
      parameters: []
      security:
        - user:
            - ''
      description: |-
        如果当日未打开 App 进行初始化则无法准确计算总数
          \
          \
        <b>公测期间不保证可用性和可能会随时调整，需要在 App 中开启自动同步</b>
  /api/v1/study/get_today_items:
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    post:
      tags:
        - 学习数据（公测）
      operationId: maimemo.openapi.study.v1.StudyService.GetTodayItems
      summary: 获取今日学习单词（公测）
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 暂无文档
              properties:
                is_finished:
                  description: 筛选是否已完成
                  type: boolean
                  example: false
                is_new:
                  description: 筛选是否新学单词
                  type: boolean
                  example: false
                voc_ids:
                  description: 根据单词 ID 列表查询，最多 1000，忽略其他条件
                  maxItems: 1000
                  type: array
                  example:
                    - id1
                    - id2
                  items:
                    type: string
                spellings:
                  description: 根据单词拼写列表查询，最多 1000，忽略其他条件，不可与 voc_ids 同时使用
                  maxItems: 1000
                  type: array
                  example:
                    - hello
                    - world
                  items:
                    type: string
                limit:
                  description: 最多根据学习顺序获取前 1000 条数据，默认 50
                  maximum: 1000
                  type: integer
                  example: 50
              required: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  today_items:
                    description: >-
                      今日学习列表<br><br>引用自：[StudyTodayItem](/schemas/StudyTodayItem)
                    type: array
                    items:
                      $ref: '#/components/schemas/StudyTodayItem'
                required:
                  - today_items
      parameters: []
      security:
        - user:
            - ''
      description: |-
        如果当日未打开 App 进行初始化则无法获取
          \
          \
        <b>公测期间不保证可用性和可能会随时调整，需要在 App 中开启自动同步</b>
  /api/v1/study/query_study_records:
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    post:
      tags:
        - 学习数据（公测）
      operationId: maimemo.openapi.study.v1.StudyService.QueryStudyRecords
      summary: 查询学习记录（公测）
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 暂无文档
              properties:
                next_study_date:
                  description: 根据下次学习日期筛选
                  type: object
                  properties:
                    start:
                      description: 大于等于时间，北京时区
                      type: string
                      format: ISODate
                      example: '2021-07-09T00:16:00.000Z'
                    end:
                      description: 小于等于时间，北京时区
                      type: string
                      format: ISODate
                      example: '2021-07-09T00:16:00.000Z'
                  required: []
                voc_ids:
                  description: 根据单词 ID 筛选，忽略其他条件
                  type: array
                  example:
                    - id1
                    - id2
                  items:
                    type: string
                spellings:
                  description: 根据单词拼写列表查询，最多 1000，忽略其他条件，不可与 voc_ids 同时使用
                  maxItems: 1000
                  type: array
                  example:
                    - hello
                    - world
                  items:
                    type: string
                as_count:
                  description: 仅计算结果总数，不返回数据列表
                  type: boolean
                  example: false
                limit:
                  description: 最多根据下次学习日期获取前 1000 条数据，默认 50
                  maximum: 1000
                  type: integer
                  example: 50
              required: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  records:
                    description: >-
                      `as_count=true`
                      时为空<br><br>引用自：[StudyRecord](/schemas/StudyRecord)
                    type: array
                    items:
                      $ref: '#/components/schemas/StudyRecord'
                  count:
                    description: '`as_count=true` 时有效'
                    type: integer
                    example: 114514
                required:
                  - records
                  - count
      parameters: []
      security:
        - user:
            - ''
      description: >-
        查询场景举例

        - 获取规划总量：`as_count=true`

        - 获取未来某天要背的单词数：`next_study_date: {end: "2026-04-01T00:00:00+08:00"},
        as_count=true`

        - 获取未来某天要背的单词列表：`next_study_date: {end: "2026-04-01T00:00:00+08:00"}`

          \
        <b>公测期间不保证可用性和可能会随时调整，需要在 App 中开启自动同步</b>
  /api/v1/study/add_words:
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    post:
      tags:
        - 学习数据（公测）
      operationId: maimemo.openapi.study.v1.StudyService.AddWords
      summary: 添加单词（公测）
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 暂无文档
              properties:
                words:
                  description: 单词列表，最多一次添加 1000 个单词
                  maxItems: 1000
                  type: array
                  items:
                    properties:
                      id:
                        description: 单词 ID，通过查询单词接口获取
                        type: string
                        example: id1
                    required:
                      - id
                advance:
                  description: 是否一并提前复习，无等级限制
                  type: boolean
                  example: false
              required:
                - words
                - advance
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  added_count:
                    description: 成功添加的数量，单词上限不足或者已经添加过会影响成功添加的数量
                    type: integer
                    example: 114
                required:
                  - added_count
      parameters: []
      security:
        - user:
            - ''
      description: <b>公测期间不保证可用性和可能会随时调整，需要在 App 中开启自动同步</b>
  /api/v1/study/advance_study:
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    post:
      tags:
        - 学习数据（公测）
      operationId: maimemo.openapi.study.v1.StudyService.AdvanceStudy
      summary: 提前复习（公测）
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 暂无文档
              properties:
                voc_ids:
                  description: ''
                  maxItems: 1000
                  type: array
                  example:
                    - id1
                    - id2
                  items:
                    type: string
              required:
                - voc_ids
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  advanced_count:
                    description: 成功提前的数量，单词未加入会影响成功提前的数量
                    type: integer
                    example: 514
                required:
                  - advanced_count
      parameters: []
      security:
        - user:
            - ''
      description: |-
        将单词提前到当下马上复习，需要升级到 10 级解锁提前复习功能

        <b>公测期间不保证可用性和可能会随时调整，需要在 App 中开启自动同步</b>
  /api/v1/vocabulary:
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    get:
      tags:
        - 单词
      operationId: maimemo.openapi.vocabulary.v1.VocabularyService.GetVocabulary
      summary: 获取单词
      requestBody: {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  voc:
                    description: '单词<br><br>引用自：[Vocabulary](/schemas/Vocabulary)'
                    type: object
                    $ref: '#/components/schemas/Vocabulary'
                required:
                  - voc
      parameters:
        - name: spelling
          in: query
          deprecated: false
          required: true
          description: 单词拼写
          schema:
            description: 单词拼写
            type: string
            example: apple
      security:
        - user:
            - ''
  /api/v1/vocabulary/query:
    servers:
      - url: 'https://open.maimemo.com/open'
        description: 生产服务
      - url: 'https://open-dev.maimemo.com/open'
        description: 测试服务
    post:
      tags:
        - 单词
      operationId: maimemo.openapi.vocabulary.v1.VocabularyService.ListVocabulary
      summary: 查询单词
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: 暂无文档
              properties:
                spellings:
                  description: 根据拼写查询，最多 1000
                  maxItems: 1000
                  type: array
                  example: null
                  items:
                    type: string
                ids:
                  description: 根据 id 查询，最多 1000
                  maxItems: 1000
                  type: array
                  example: null
                  items:
                    type: string
              required: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: 暂无文档
                properties:
                  voc:
                    description: '<br><br>引用自：[Vocabulary](/schemas/Vocabulary)'
                    type: array
                    items:
                      $ref: '#/components/schemas/Vocabulary'
                required:
                  - voc
      parameters: []
      security:
        - user:
            - ''
      description: 查询条件互斥，只能生效一个
components:
  schemas:
    InterpretationStatus:
      type: string
      description: |-
        释义状态

        - `PUBLISHED`: 发布
        - `UNPUBLISHED`: 未发布
        - `DELETED`: 删除
      enum:
        - PUBLISHED
        - UNPUBLISHED
        - DELETED
    Interpretation:
      type: object
      description: 释义
      properties:
        id:
          description: id
          type: string
          example: 5a7BFf4F63612e5AD9fdebB7a50D3881
        interpretation:
          description: 释义
          type: string
          example: n. 苹果
        tags:
          description: 标签
          type: array
          example:
            - 考研
          items:
            type: string
        status:
          description: >-
            状态

            @Example
            PUBLISHED<br><br>引用自：[InterpretationStatus](/schemas/InterpretationStatus)
          type: object
          $ref: '#/components/schemas/InterpretationStatus'
        created_time:
          description: |-
            创建时间
            ISO 8601 格式
          type: string
          format: ISODate
          example: '2023-03-13T16:00:00.000Z'
        updated_time:
          description: |-
            更新时间
            ISO 8601 格式
          type: string
          format: ISODate
          example: '2023-03-13T16:00:00.000Z'
      required:
        - id
        - interpretation
        - tags
        - status
        - created_time
        - updated_time
    NoteStatus:
      type: string
      description: |-
        助记状态

        - `PUBLISHED`: 发布
        - `DELETED`: 删除
      enum:
        - PUBLISHED
        - DELETED
    Note:
      type: object
      description: 助记
      properties:
        id:
          description: id
          type: string
          example: 5a7BFf4F63612e5AD9fdebB7a50D3881
        note_type:
          description: 类型
          type: string
          example: 谐音.
        note:
          description: 助记
          type: string
          example: apple
        status:
          description: |-
            状态
            @Example PUBLISHED<br><br>引用自：[NoteStatus](/schemas/NoteStatus)
          type: object
          $ref: '#/components/schemas/NoteStatus'
        created_time:
          description: |-
            创建时间
            ISO 8601 格式
          type: string
          format: ISODate
          example: '2023-03-13T16:00:00.000Z'
        updated_time:
          description: |-
            更新时间
            ISO 8601 格式
          type: string
          format: ISODate
          example: '2023-03-13T16:00:00.000Z'
      required:
        - id
        - note_type
        - note
        - status
        - created_time
        - updated_time
    NotepadStatus:
      type: string
      description: |-
        云词本状态

        - `PUBLISHED`: 发布
        - `UNPUBLISHED`: 未发布
        - `DELETED`: 删除
      enum:
        - PUBLISHED
        - UNPUBLISHED
        - DELETED
    NotepadType:
      type: string
      description: |-
        云词本类型

        - `FAVORITE`: 我的收藏
        - `NOTEPAD`: 云词本
      enum:
        - FAVORITE
        - NOTEPAD
    NotepadParsedItem:
      type: object
      description: 云词本解析结果
      properties:
        type:
          description: 类型
          type: string
          enum:
            - CHAPTER
            - WORD
          example: CHAPTER
        data:
          description: 数据
          type: object
          properties:
            chapter:
              description: 章节
              type: string
              example: 我的章节
            word:
              description: |-
                单词
                当 type=WORD 时，该字段才有值
              type: string
              example: apple
          required:
            - chapter
      required:
        - type
        - data
    Notepad:
      type: object
      description: 云词本
      properties:
        id:
          description: id
          type: string
          example: 5a7BFf4F63612e5AD9fdebB7a50D3881
        type:
          description: |-
            类型
            @Example NOTEPAD<br><br>引用自：[NotepadType](/schemas/NotepadType)
          type: object
          $ref: '#/components/schemas/NotepadType'
        creator:
          description: 创建者 id
          type: integer
          example: 192
        status:
          description: >-
            状态

            @Example
            PUBLISHED<br><br>引用自：[NotepadStatus](/schemas/NotepadStatus)
          type: object
          $ref: '#/components/schemas/NotepadStatus'
        content:
          description: 内容
          type: string
          example: apple
        title:
          description: 标题
          type: string
          example: 常用词汇
        brief:
          description: 简介
          type: string
          example: 常用
        tags:
          description: 标签
          type: array
          example:
            - 考研
          items:
            type: string
        list:
          description: '解析结果<br><br>引用自：[NotepadParsedItem](/schemas/NotepadParsedItem)'
          type: array
          items:
            $ref: '#/components/schemas/NotepadParsedItem'
        created_time:
          description: |-
            创建时间
            ISO 8601 格式
          type: string
          format: ISODate
          example: '2023-03-13T16:00:00.000Z'
        updated_time:
          description: |-
            更新时间
            ISO 8601 格式
          type: string
          format: ISODate
          example: '2023-03-13T16:00:00.000Z'
      required:
        - id
        - type
        - creator
        - status
        - content
        - title
        - brief
        - tags
        - list
        - created_time
        - updated_time
    BriefNotepad:
      type: object
      description: 简要云词本
      properties:
        id:
          description: id
          type: string
          example: 5a7BFf4F63612e5AD9fdebB7a50D3881
        type:
          description: |-
            类型
            @Example NOTEPAD<br><br>引用自：[NotepadType](/schemas/NotepadType)
          type: object
          $ref: '#/components/schemas/NotepadType'
        creator:
          description: 创建者 id
          type: integer
          example: 192
        status:
          description: >-
            状态

            @Example
            PUBLISHED<br><br>引用自：[NotepadStatus](/schemas/NotepadStatus)
          type: object
          $ref: '#/components/schemas/NotepadStatus'
        title:
          description: 标题
          type: string
          example: 常用词汇
        brief:
          description: 简介
          type: string
          example: 常用
        tags:
          description: 标签
          type: array
          example:
            - 考研
          items:
            type: string
        created_time:
          description: |-
            创建时间
            ISO 8601 格式
          type: string
          format: ISODate
          example: '2023-03-13T16:00:00.000Z'
        updated_time:
          description: |-
            更新时间
            ISO 8601 格式
          type: string
          format: ISODate
          example: '2023-03-13T16:00:00.000Z'
      required:
        - id
        - type
        - creator
        - status
        - title
        - brief
        - tags
        - created_time
        - updated_time
    PhraseStatus:
      type: string
      description: |-
        例句状态

        - `PUBLISHED`: 发布
        - `DELETED`: 删除
      enum:
        - PUBLISHED
        - DELETED
    PhraseHighlightRange:
      type: object
      description: |-
        例句中的单词高亮区间
        [start, end)
      properties:
        start:
          description: 高亮起始位置
          type: integer
          example: 1
        end:
          description: 高亮结束位置（不包含）
          type: integer
          example: 10
      required:
        - start
        - end
    Phrase:
      type: object
      description: 例句
      properties:
        id:
          description: id
          type: string
          example: 5a7BFf4F63612e5AD9fdebB7a50D3881
        phrase:
          description: 例句
          type: string
          example: This is an apple.
        interpretation:
          description: 翻译
          type: string
          example: 这是一个苹果。
        tags:
          description: 标签
          type: array
          example:
            - 考研
          items:
            type: string
        highlight:
          description: >-
            例句中的单词高亮区间

            实际返回的数据是二维数组<br><br>引用自：[PhraseHighlightRange](/schemas/PhraseHighlightRange)
          type: array
          items:
            $ref: '#/components/schemas/PhraseHighlightRange'
        status:
          description: |-
            状态
            @Example PUBLISHED<br><br>引用自：[PhraseStatus](/schemas/PhraseStatus)
          type: object
          $ref: '#/components/schemas/PhraseStatus'
        created_time:
          description: |-
            创建时间
            ISO 8601 格式
          type: string
          format: ISODate
          example: '2023-03-13T16:00:00.000Z'
        updated_time:
          description: |-
            更新时间
            ISO 8601 格式
          type: string
          format: ISODate
          example: '2023-03-13T16:00:00.000Z'
        origin:
          description: 来源
          type: string
          example: 考研
      required:
        - id
        - phrase
        - interpretation
        - tags
        - highlight
        - status
        - created_time
        - updated_time
        - origin
    StudyResponse:
      type: string
      description: |-
        - `FAMILIAR`: 认识
        - `VAGUE`: 模糊
        - `FORGET`: 忘记
        - `WELL_FAMILIAR`: 熟知
        - `CANCEL_WELL_FAMILIAR`: 取消熟知
      enum:
        - FAMILIAR
        - VAGUE
        - FORGET
        - WELL_FAMILIAR
        - CANCEL_WELL_FAMILIAR
    StudyProgress:
      type: object
      description: 暂无文档
      properties:
        finished:
          description: 已完成的单词数
          type: integer
          example: 10
        total:
          description: 今日应完成的单词数
          type: integer
          example: 20
        study_time:
          description: 今日学习时长，毫秒
          type: integer
          example: 114514
      required:
        - finished
        - total
        - study_time
    StudyTodayItem:
      type: object
      description: 今日学习单词
      properties:
        voc_id:
          description: 单词 ID
          type: string
          example: vocid
        voc_spelling:
          description: 单词拼写
          type: string
          example: apple
        order:
          description: 学习顺序
          type: integer
          example: 1
        first_response:
          description: '当天第一次反馈<br><br>引用自：[StudyResponse](/schemas/StudyResponse)'
          type: object
          $ref: '#/components/schemas/StudyResponse'
        is_new:
          description: 是否是新学单词
          type: boolean
          example: false
        is_finished:
          description: 是否已完成当日学习
          type: boolean
          example: false
      required:
        - voc_id
        - voc_spelling
        - order
        - is_new
        - is_finished
    StudyRecord:
      type: object
      description: 学习记录
      properties:
        voc_id:
          description: 单词 ID
          type: string
          example: vocid
        voc_spelling:
          description: 单词拼写
          type: string
          example: apple
        add_date:
          description: 添加日期
          type: string
          format: ISODate
          example: '2021-07-09T00:16:00.000Z'
        first_study_date:
          description: 首次学习日期
          type: string
          format: ISODate
          example: '2021-07-09T00:16:00.000Z'
        last_study_date:
          description: 上次学习日期
          type: string
          format: ISODate
          example: '2021-07-09T00:16:00.000Z'
        next_study_date:
          description: 下次学习日期
          type: string
          format: ISODate
          example: '2021-07-09T00:16:00.000Z'
        last_response:
          description: '上次反馈<br><br>引用自：[StudyResponse](/schemas/StudyResponse)'
          type: object
          $ref: '#/components/schemas/StudyResponse'
        study_count:
          description: 学习次数（每日最多计入 1 次）
          type: integer
          example: 10
        tags:
          description: 标签
          type: string
          enum:
            - STICKING
            - WELL_FAMILIAR
      required:
        - voc_id
        - voc_spelling
        - add_date
        - study_count
        - tags
    Vocabulary:
      type: object
      description: 暂无文档
      properties:
        id:
          description: id
          type: string
          example: 5a7BFf4F63612e5AD9fdebB7a50D3881
        spelling:
          description: 拼写
          type: string
          example: apple
      required:
        - id
        - spelling
  securitySchemes:
    user:
      description: 需要用户身份进行请求，申请到的 token 需要放到 Header 中
      type: oauth2
